backup/hypr/hypridle.conf
backup/hypr/hyprland.conf
backup/hypr/hyprlock.conf
backup/hypr/hyprpaper.conf
backup/hypr/hyprstart
backup/hypr/scripts/lock.sh
backup/hypr/scripts/lockandwalk.sh
backup/hypr/scripts/screenshot_display.sh
backup/hypr/scripts/screenshot_window.sh
backup/hypr/scripts/sleep.sh
backup/hypr/scripts/wallpaper_rot.sh
backup/hypr/source/binds.conf
backup/hypr/source/devices.conf
backup/hypr/source/execs.conf
backup/hypr/source/monitors.conf
backup/hypr/source/winrules.conf
backup/nwg-launchers/nwgbar/bar.json
backup/nwg-launchers/nwgbar/style.css
backup/nwg-launchers/nwggrid/style.css
backup/nwg-launchers/nwggrid/terminal
backup/waybar/config
backup/waybar/launcher.png
backup/waybar/style.css
backup/waybar/scripts/backlight-hint.sh
backup/waybar/scripts/check_updates.sh
backup/waybar/scripts/cleanup_after_start.sh
backup/waybar/scripts/keyhint.sh
backup/waybar/scripts/network_traffic.sh
backup/waybar/scripts/OCV
backup/wpaperd/config.toml
